

p {
  margin-bottom: 15px;
  text-align: center;
  font-size: 12px;
  color: black;
  font-family: 'Wire One', sans-serif;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Wire One', sans-serif;
}

a:hover{
  text-decoration: underline;
  color: #cc6699;
}

body{
  background-color: lightgray;
}

h1 {
  color: #cc6699;
  text-align: center;
  font-size: 60px;
  font-family: 'Wire One', sans-serif;
  margin-bottom: 15px;
  margin-top: 20px;
}

h2 {
  color: #f2f2f2;
  position: absolute;
  top:250px;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: 'Wire One', sans-serif;
}

h3 {
  color: #cc6699;
  font-family: 'Wire One', sans-serif;
  text-align: center;
  font-size: 16px;
  margin-top: 50px:
}


#scrollmenu {
  text-align:center;
  text-decoration: none;

}

#html {
  font-size: 16px;
  color: white;
  font-family: 'Wire One', sans-serif;
}

#css {
  font-size: 16px;
  color: white;
  font-family: 'Wire One', sans-serif;
}

#java {
  font-size: 16px;
  color: white;
  font-family: 'Wire One', sans-serif;
}
